footer {
  background-color: #5F5A4D; /* Soya Bean */
  text-align: center;
  margin-bottom: 0;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
}

header {
  background-color: #4F493F; /* Armadillo */
  padding: 10px;
  text-align: center;
  color: white;
}