body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 16px;
    background-color: #E3DED1; /* Pearl Bush */
  }
  
  App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #C1B59F; /* Bison Hide */
  }
  
  a {
    color: inherit; /* Same color as the parent */
    text-decoration: none; /* Remove underline */
  }
  a:hover {
    color: #555; /* Darker shade for hover effect */
  }
  
  button {
    display: inline-block;
    padding: 7px 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4F493F; /* Armadillo */
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #9b9999; /* Stonewall */
  }
  
  button:hover {
    background-color: #5F5A4D; /* Soya Bean */
  }
  
  button:active {
    background-color: #5F5A4D; /* Soya Bean */
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 4px 0 0 4px;
    background: #f1f1f1;
    width: 30vw;
  }

  input[type=password] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 4px 0 0 4px;
    background: #f1f1f1;
    width: 30vw;
  }

  table {
    width: 800px;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px 20px; /* Adjust the values as needed */
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #C1B59F; /* Bison Hide */
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  /* Specific table row colors */
  tr:nth-child(odd) {
    background-color: #E3DED1; /* Pearl Bush */
  }
  
  tr:nth-child(even) {
    background-color: #C1B59F; /* Bison Hide */
  }
  
  textarea {
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 4px;
    background: #f1f1f1;
    width: 800px;
    font-family: Arial;
  }
  .output {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    background: #E3DED1; /* Pearl Bush */
    font-family: Arial;
    color: #4F493F; /* Armadillo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for emphasis */
    margin-top: 15px;
    width: 800px;
  }
  .share-content {
    width: 35%;
  }

  select {
    padding: 10px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 4px;
    background: #f1f1f1;
    width: 30vw;
    color: #4F493F; /* Armadillo */
    appearance: none; /* Removes the default arrow in most browsers */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><polygon fill="%234F493F" points="0,0 20,0 10,10"/></svg>'); /* Custom arrow icon */
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  
  select:focus {
    outline: none; /* Removes the default focus outline */
    box-shadow: 0 0 2px 2px #C1B59F; /* Add a focus shadow */
  }
  
  option {
    padding: 10px;
    color: #4F493F; /* Armadillo */
    background: #E3DED1; /* Pearl Bush */
  }
  
  option:hover {
    background-color: #C1B59F; /* Bison Hide */
  }

  